<div class="beautify">
    <div class="col-xs-12 row-div">
        <div class="col-xs-12">
            <button class="btn btn-default tab-input" ng-class="{'btn-primary':selected===$index}" ng-repeat="pair in pairs track by $index" ng-click="selectTab($index)">{{pair.tabName}}</button>
        </div>
    </div>

    <div class="col-xs-12 row-div">
        <div class="col-xs-6">
            <textarea ng-model="activePair.raw" ng-change="updateInput()"></textarea>
        </div>

        <div class="col-xs-6">
            <pre ng-click="selectAll($event)">{{activePair.pretty}}</pre>
        </div>
    </div>
</div>