<div class="beautify">
    <div class="col-xs-12 row-div">
        <div class="col-xs-12">
            <button class="btn btn-default tab-input" ng-class="{'btn-primary':selected===$index}" ng-repeat="tabName in tabNames track by $index" ng-click="selectTab($index)">{{tabName}}</button>
        </div>
    </div>

    <div class="col-xs-12 row-div">
        <div class="col-xs-6">
            <textarea ng-model="raw" ng-change="updateInput()"/>
        </div>

        <div class="col-xs-6">
            <pre ng-click="selectAll($event)">{{pretty}}</pre>
        </div>
    </div>
</div>