.beautify {
  color: blue;

  pre, textarea {
    width: 100%;
    height: 1200px;
    color: blue;
  }

  .row-div {
    margin-top: 25px;
  }

  .row-div-mini {
    margin-top: 10px;
  }

  .high-row {
    height: 3em;
  }

  .header-text {
    text-align: center;
  }

  .red {
    color: red;
  }
}