<div class="beautify">
    <!--icons-->
    <div class="col-xs-12 row-div-mini">
        <toggle value="showHelp" icon="'fa-question'"></toggle>
        <toggle value="hideSideBars" icon="'fa-window-maximize'"></toggle>
    </div>

    <div class="col-xs-12 row-div" ng-if="showHelp">
        Hi there!<br/>
        This is placeholder text for the very helpful help-information that will help you use this app by providing you with very helpful information.
    </div>
    
    <div class="col-xs-12 row-div high-row">
        <!--pairs tabs-->
        <tab class="col-xs-12 col-xs-offset-1" ng-class="{'col-xs-10':!hideSideBars, 'col-xs-offset-0':hideSideBars}" tabs="sessions[sessionSelected.x].pairs" selected="pairSelected" add-tab-callback="addPairCallback" close-tab-callback="closePairCallback"></tab>

        <!--trash icon-->
        <div class="col-xs-1 header-text" ng-if="!hideSideBars">
            <button class="btn btn-default" ng-click="clearTrashedPairs()" ng-if="sessions[sessionSelected.x].trashedPairs.length"><span class="fa fa-trash-o fa-2x"></span></span></button>
        </div>
    </div>

    <div class="col-xs-12 row-div">
        <!--sessions-->
        <div class="col-xs-1" ng-if="!hideSideBars">
            <div class="row">
                <tab class="row" tabs="sessions" selected="sessionSelected.x" vertical="true" select-tab-callback="selectSessionCallback" add-tab-callback="addSessionCallback" close-tab-callback="closeSessionCallback"></tab>
            </div>
        </div>

        <!--raw-->
        <div class="col-xs-6" ng-class="{'col-xs-5':!hideSideBars}">
            <textarea ng-model="sessions[sessionSelected.x].pairs[pairSelected].raw" ng-change="updateInput()"></textarea>
        </div>

        <!--pretty-->
        <div class="col-xs-6" ng-class="{'col-xs-5':!hideSideBars}">
            <pre ng-click="selectAll($event)">{{sessions[sessionSelected.x].pairs[pairSelected].pretty}}</pre>
        </div>

        <!--trashed-->
        <div class="col-xs-1" ng-if="!hideSideBars">
            <button class="btn btn-danger col-xs-12" ng-repeat="trashedPair in sessions[sessionSelected.x].trashedPairs track by $index" ng-mouseover="setTrashPreview(trashedPair)" ng-mouseleave="setTrashPreview()" ng-click="restoreTrashedPair($index)">{{trashedPair.tabName}}</button>
            <div>{{trashPreview}}</div>
        </div>
    </div>

    <!--one liner output-->
    <div class="col-xs-12 row-div">
        <div class="col-xs-12" ng-click="selectAll($event)">{{sessions[sessionSelected.x].pairs[pairSelected].pretty}}</div>
    </div>
</div>